@use "base";

@import "-maxin";

body {
  background-color: blueviolet;

  h1 {
    color: #ffff;
    font-size: 9rem;
    font-family: "Nova Square", sans-serif;
    text-shadow: 4px 0 red;

    text-align: center;
    margin: 3rem auto;
    font-weight: 600;
    img {
      width: 8rem;
    }
  }
  .drum-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    .drum {
      min-width: 140px;
      min-height: 140px;
      border: solid 10px gray;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin: auto 30px;
      color: red;
      font-size: 4rem;
      font-family: "Nova Square", sans-serif;
   
       
    }
 
    .animate{
      transform:translate(3px);
      box-shadow:3px 3px 3px 3px #31363e;
      opacity: 0.5;
    }
 
  }
  footer {
    text-align: center;
    margin-top: 5%;
    padding: 1%;
    font-family: "Nova Square", sans-serif;
    font-size: 1rem;
    color: #fff;
  }

    .w {
      background-image: url("../images/tom1.png");
    }
    .a {
      background-image: url("../images/tom2.png");
    }
    .s {
      background-image: url("../images/tom3.png");
    }
    .d {
      background-image: url("../images/tom4.png");
    }
    .j {
      background-image: url("../images/snare.png");
    }
    .k {
      background-image: url("../images/crash.png");
    }
    .l {
      background-image: url("../images/kick.png");
    }


    @include mq(900px) {
    
     
      h1 {
        font-size: 7rem;
        margin: 2rem auto;
         
        img {
          width: 6rem;
        }
      }
      .drum-box {
        
        padding: 2rem;
        .drum {
          min-width: 150px;
          min-height: 150px;
          font-size: 3rem;
          margin: 1rem auto;
        }
      }
      footer {
        text-align: center;
        padding: 1%;
        font-family: "Nova Square", sans-serif;
        font-size: 1rem;
        color: #fff;
      }
    }

    @include mq(735px) {
      h1 {
        font-size: 5rem;
        margin: 1.5rem auto;
        img {
          width: 5rem;
        }
      }
      .drum-box {
      
        min-height: 50vh;
        display: flex;
        flex-wrap: wrap;
  
        .drum {
          margin: 0 1rem;
          font-size: 2.5rem;
          min-width: 120px;
          min-height: 120px;
        }
      }
      footer {
        text-align: center;
        padding: 1%;
        font-family: "Nova Square", sans-serif;
        font-size: 1rem;
        color: #fff;
      }
    }
  
    @include mq(638px) {
      h1 {
        font-size: 3rem;
         
        img {
          width: 4rem;
        }
      }
      .drum-box {
        
        display: flex;
  
        gap: 10px;
        justify-items: center;
  
        .drum {
          margin: 0 1rem;
          font-size: 2rem;
          min-width: 120px;
          min-height: 120px;
        }
      }
      footer {
        text-align: center;
        padding: 1%;
        font-family: "Nova Square", sans-serif;
        font-size: 1rem;
        color: #fff;
      }
    }
    @include mq(400px) {
      h1{
        font-size: 3rem;
        
        img {
          width: 2.5rem;
        }
      }
      .drum-box {
      
        display: flex;
  
        gap: 10px;
        justify-items: center;
  
        .drum {
         
          font-size: 2rem;
          min-width: 100px;
          min-height: 100px;
        }
      }
       
      footer {
        text-align: center;
        padding: 10px;
        font-family: "Nova Square", sans-serif;
        font-size: 1rem;
        color: #fff;
      }
    }
    @include mq(300px) {
      h1{
        background-color: yellow;
        font-size: 2rem;
        img {
          width: 2rem;
        }
      }
      .drum-box {
        background-color: red;
        display: flex;
        justify-items: center;
  
        .drum {
          
          font-size: 1.5rem;
          min-width: 70px;
          min-height: 70px;
        }
      }
       
      footer {
        text-align: center;
        padding: 10px;
        font-family: "Nova Square", sans-serif;
        font-size: 1rem;
        color: #fff;
      }
    }
  }
 



 
